
*.log
.DS_Store
Thumbs.db

backend/src/main/resources/application.properties

backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings/
backend/.springBeans
backend/.sts4-cache/
backend/.idea/
backend/*.iml
backend/*.ipr
backend/*.iws
backend/nbproject/private/
backend/nbbuild/
backend/dist/
backend/nbdist/
backend/.nb-gradle/
backend/.vscode/


frontend/.dart_tool/
frontend/.packages
frontend/.pub-cache/
frontend/pubspec.lock
frontend/build/
frontend/android/local.properties
frontend/android/.gradle/
frontend/ios/Pods/
frontend/ios/.symlinks/
frontend/ios/Flutter/Flutter.framework
frontend/ios/Flutter/Flutter.podspec
frontend/ios/Runner/GeneratedPluginRegistrant.h
frontend/ios/Runner/GeneratedPluginRegistrant.m
frontend/ios/Flutter/ephemeral_plugin_symlinks/
frontend/.idea/
frontend/.vscode/
frontend/*.iml